<%= form_for :channel, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Channel</legend>

    <div class="control-group">
      <%= f.label :Name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :Name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :Channel_Number__c, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :Channel_Number__c, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :HD__c, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :HD__c, :class => 'check_box' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', channels_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
